language: php

php:
  - '5.6'

script:
  - mkdir -p build/logs
  - ./vendor/bin/phpunit -c ./phpunit.xml  --coverage-clover build/logs/clover.xml
  - php ./compiler.php

after_success:
 - php vendor/bin/coveralls -v

before_script:
  - composer require satooshi/php-coveralls
  - composer dumpautoload
  - composer install
  - date

deploy:
  provider: releases
  api_key:
    secure: lFdgSovU5cGfJPo7KVJFpByfxm6X9YxH3ZfA1+ptHWxdnfz4x2coKpQ0jkPlI3DkExLyB4lSpA3HDu0dRH2xi9DFv4Go1FPkfnuJp51hONdyGbosYwtQsuu444AtyWJvz+kKu2nT8KNjFKkLcj4qbAXCVWB9sVAGJVAVyjW5zvIzBtK/8m71sX9Q2CiazyXlzqp0T8hltwQyL8uf2Nn9Ldcpe753yNecGkqaVh8UD8JQktrrBOxOvGouIHfgGEZDVSwpLD05+GKOgl1l4TO7J3DdN7Gq/FrNKar7XHP8WfwVl0z50jrUVnq63PnxDnaDP/DHvpRCtAH86lZ4//Wr1IfKkObEwjWo7YEG/aV/UcxFYWyR4avztboXhTIZZc/UGQsRkMLTfTlzqit0Onk1uPhH6ilRcRRcR7DK3yNZfgjkHOw5Cltk2rtMgNLu+e4v5xyaurkgMYOtN/N2FxjNv0UvZ+r907coJNU9nZ528qwUL1mRj7KcdubCLWO+WZIKBkfYP5SASsK4gv9Dzxq4cGYqcMi36zgGYadAdlR6a5MWu8ia676ZoZHSv3B0oKqmouennhEPNGdcoxFf1nlAcVRZf790YRccoxjKXpk+S0AHxllBzPIYdCF3qXfGzJhOTXJszzyfTbD46maA/ODeLm5+zl0BgnJcdgF4CLOvkIM=
  file: ./dep.phar
  skip_cleanup: true
  on:
    repo: juanber84/dep
